.consent-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: calc(0.5 *  var(--lh-rem)) calc(1 * var(--lh-rem));
  margin: calc(var(--grid-cell-width) * 0.5);
  background-color: white;
  color: var(--color);
  border-top: 1px solid var(--color);
  display: flex;
  @include typography-small;
  @include maxWidth(tablet) {
    display: block;
  }
  .consent-text {
    flex: 1;
    @include maxWidth(tablet) {
      margin-bottom: var(--lh);
    }
    a {
      text-decoration: underline;
      text-underline-offset: 2px;
      text-decoration-thickness: 1px;
    }
  }
  .consent-options {
    .consent-option {
      &:hover {
        color: var(--color);
      }
      &:not(:last-child) {
        margin-right: calc(1.5 * var(--lh));
      }
    }
  }
}
