.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  padding: 1em var(--lh);
  line-height: 1.25;
  transition: transform 0.25s ease-in-out;
  background-color: white;
  &.hidden {
    @include minWidth(tablet) {
      transform: translateY(-100%);
    }
  }
  &.active {
    @include maxWidth(laptop) {
      border-bottom: 1px solid var(--color);
    }
  }
  .phone-menu-button {
    @include minWidth(laptop) {
      display: none;
    }
    width: 1em;
    padding-top: 0.25em;
    align-self: flex-start;
    .svg {
      stroke: var(--color);
      transition: transform 0.25s ease-in-out;
      &.active {
        transform: rotate(45deg);
      }
    }
  }

  .menu-items {
    @include maxWidth(laptop) {
      margin-top: var(--lh);
      flex-basis: 100%;
    }
    @include maxWidth(tablet) {
      display: flex;
      justify-content: space-between;
    }
    &:not(.active) {
      @include maxWidth(laptop) {
        display: none;
        opacity: 0;
      }
    }
    .menu-item {
      @include typography-medium;
      @include minWidth(laptop) {
        margin-left: calc(1.5 * var(--lh));
        display: inline-block;
        transition: transform 0.25s ease-in-out;
        &.active {
          transform: translateY(1.25 * 1rem);
        }
      }
      & + .menu-item {
        @include maxWidth(laptop) {
          margin-left: var(--lh);
        }
      }
    }
  }

  // .menu-items-small {
  //   color: red;
  //   @include minWidth(laptop) {
  //     display: none;
  //   }
  // }
  
}