.navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 1em var(--lh);
  &.active {
    @include maxWidth(laptop) {
      border-bottom: 1px solid var(--color);
    }
  }
  .title-wrapper {
    flex: 1;
    .title {
      display: none;
    }
    .title-lottie {
      height: var(--lh);
      transform: translateY(0.14em);
      svg {
        font-size: 0.94em;
        height: 1em !important;
        width: fit-content !important;
        fill: #1C7464;
      }
    }
    .location {
      @include uppercase;
    }
  }

  .phone-menu-button {
    @include minWidth(laptop) {
      display: none;
    }
    width: 1em;
    padding-top: 0.25em;
    align-self: flex-start;
    .svg {
      stroke: var(--color);
      transition: transform 0.25s ease-in-out;
      &.active {
        transform: rotate(45deg);
      }
    }
  }

  .menu-items {
    @include maxWidth(laptop) {
      margin-top: var(--lh);
      flex-basis: 100%;
    }
    @include maxWidth(tablet) {
      display: flex;
      justify-content: space-between;
    }
    &:not(.active) {
      @include maxWidth(laptop) {
        opacity: 0;
      }
    }
    .menu-item {
      @include typography-medium;
      @include minWidth(laptop) {
        margin-left: var(--lh);
        display: inline-block;
        transition: transform 0.25s ease-in-out;
        &.active {
          transform: translateY(var(--lh));
        }
      }
      & + .menu-item {
        @include maxWidth(laptop) {
          margin-left: var(--lh);
        }
      }
    }
  }

  // .menu-items-small {
  //   color: red;
  //   @include minWidth(laptop) {
  //     display: none;
  //   }
  // }
  
}