*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: white;
}

body {
  background-color: white;
  color: var(--primary-text-color);
  -webkit-font-smoothing: antialiased;
  line-height: var(--line-height);
  height: 100%;
  display: flex;
  // min-height: 100vh;
  flex-direction: column;
  font-family: 'Lardent', serif;
  color: var(--color);
  letter-spacing: 0.015em;
  overflow: unset !important;
  width: 100vw;
}

#__next {
  height: 100%;
}

.main {
  flex: 1;
}

.framer {
  width: 100%;
  display: flex;
  flex: 1;
  // height: 100%;
  // z-index: 999;
  // pointer-events: none;
  // div {
  //   pointer-events: all;
  // }
}

button {
  letter-spacing: var(--letter-spacing);
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

// a {
//   color: var(--link_color);
//   &:hover {
//     color: var(--primary-text-color);
//   }
//   &.active {
//     color: var(--primary-text-color);
//   }
// }

img {
  max-width: 100%;
  height: auto;
}

.icon {
  font-size: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  svg {
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}

.lazyfade {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.lazyloaded {
  opacity: 1;
}

a, button {
  // transition: opacity 0.25s ease-in-out;
  @media (hover: hover) {
    &:hover {
      opacity: 0.333;
    }
  }
}
