@font-face {
  font-family: 'Lardent';
  src: url('../../../assets/fonts/lardent-slab-regular-pro.woff2') format('woff2'),
    url('../../../assets/fonts/lardent-slab-regular-pro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lardent';
  src: url('../../../assets/fonts/lardent-slab-regular-italic-pro.woff2') format('woff2'),
    url('../../../assets/fonts/lardent-slab-regular-italic-pro.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

