@mixin typography-large {
  font-size: 1rem;
}

@mixin typography-medium {
  @include maxWidth(laptop) {
    font-size: 0.75rem;
    line-height: 1.4;
  }
  @include minWidth(laptop) {
    font-size: 0.8rem;
    line-height: 1.4;
  }
}

@mixin typography-small {
  font-size: 0.65rem;
  line-height: 1.4;
}

@mixin uppercase {
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

@mixin text-width {
  max-width: 30em;
  @include maxWidth(tablet) {
    max-width: 100%;
  }
}

@mixin text-width-writing {
  max-width: 40em;
  @include maxWidth(tablet) {
    max-width: 100%;
  }
}