@use "sass:math";

:root {
  --window-height: 100vh;
  --line-height: 1.4;
  --paragraph-space: calc(1em * var(--line-height));
  --lh: calc(1em * var(--line-height));
  --lh-rem: calc(1rem * var(--line-height));
  --lh-x2: calc(2em * var(--line-height));
  --border-width: 6px;
  --color: #1C7464;

  --gutter: var(--lh);
  --outer-gutter: var(--lh);
  --background-color: #{color(white)};
  --text-color: #{color(black)};
  --primary-text-color: #{color(black)};
  --precart-width: 100%;

  @include minWidth(mediumMobile) {
    font-size: 19px;
    --outer-gutter: var(--lh);
  }

  @include minWidth(tablet) {
    font-size: 22px;
    --columns: 3;
    --gutter: var(--lh);
    --outer-gutter: var(--lh);
  }

  @include minWidth(laptop) {
    font-size: 25px;
    --columns: 4;
    --gutter: #{(math.div(20px, 960px) * 100)}vw;
    --outer-gutter: #{(math.div(20px, 960px) * 100)}vw;
    --precart-width: calc(
      (((100vw - (2 * var(--outer-gutter))) - ((var(--columns) - 1) * var(--gutter))) / var(--columns)) + var(--outer-gutter)
    );
  }

  @include minWidth(desktop) {
    font-size: 28px;
    --columns: 5;
    --gutter: 40px;
    --outer-gutter: 140px;
  }
}
