@import '../../boilerplate/_breakpoints';

.homepage {
  flex: 1;
  margin: var(--lh);
  transform: translateZ(0);
  @include maxWidth(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
