@import '../../boilerplate/_breakpoints';

.homepage {
  flex: 1;
  margin: var(--lh);
  transform: translateZ(0);
  @include maxWidth(largeMobile) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.title, .subtitle, .lol {
  text-transform: uppercase;
  color: #1C7464;
  letter-spacing: 0.04em;
  font-kerning: normal;
  // display: none;
  @include maxWidth(largeMobile) {
    text-align: center;
    // flex: 1;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }
}

.title, .title-svg {
  @include minWidth(largeMobile) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.subtitle, .subtitle-svg {
  @include minWidth(largeMobile) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.lol, .lol-svg {
  @include minWidth(largeMobile) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.title-svg, .subtitle-svg, .lol-svg {
  fill: #1C7464;
  // height: 1em;
  // fill: red;
  height: 0.92em;
}

.title-svg, .subtitle-svg {
  transform: translateY(0.14em);
}
