.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  @include minWidth(tablet) {
    padding: calc(3 * var(--lh)) var(--lh);
    padding-top: calc(4.5rem + 3 * var(--lh));
  }
  @include maxWidth(tablet) {
    padding: var(--lh) calc(2 * var(--lh));
    // padding-top: calc(2 * var(--lh));
  }
  .portable-text-wrapper {
    margin-left: auto;
    max-width: unset;
    width: calc(66.666vw - var(--lh-rem));
    @include typography-medium;
    @include maxWidth(tablet) {
      width: 100%;
    }
    .about {
      @include text-width;
      & + .about {
        margin-top: calc(2 * var(--lh));
      }
      &:nth-child(3n + 1) {
        margin-left: 0;
      }
      &:nth-child(3n + 2) {
        margin-left: calc(4 * var(--lh));
        // margin-right: calc(-3 * var(--lh));
      }
      &:nth-child(3n + 3) {
        margin-left: calc(8 * var(--lh));
        // margin-right: calc(-6 * var(--lh));
      }
    }
  }
}
