.writings-page {
  flex: 1;
  @include minWidth(tablet) {
    padding: calc(2 * var(--lh)) var(--lh);
    padding-top: calc(4.5rem + 3 * var(--lh));
  }
  @include maxWidth(tablet) {
    padding: var(--lh);
    padding-top: calc(4.5rem + 1 * var(--lh));
  }
}