.writing-page-wrapper {
  flex: 1;
  .writing-page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    z-index: 4;
    background-color: white;
    width: 100%;
    padding: 1em var(--lh);
    padding-bottom: calc(4 * var(--lh));
    .title-wrapper {
      @include typography-small;
      margin-bottom: calc(4 * var(--lh-rem));
      margin-right: calc(3 * var(--lh));
      .author-date-location {
        @include maxWidth(tablet) {
          margin-top: var(--lh);
        }
      }
    }
    .body-wrapper {
      @include typography-medium;
      @include maxWidth(tablet) {
        padding: 0 var(--lh-rem);
      }
      .portable-text {
        margin-left: auto;
        max-width: unset;
        width: calc(66.666vw - var(--lh-rem));
        @include typography-medium;
        @include maxWidth(tablet) {
          width: 100%;
        }
        .body {
          @include text-width-writing;
        }
      }
    }
  }
}