.close-button-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
  @include maxWidth(tablet) {
    top: 0;
    right: 0;
  }
  .close-button {
    padding: var(--lh);
    stroke: var(--color);
    svg {
      width: 1em;
    }
  }
}

.fullBleed {
  .close-button-wrapper {
    svg {
      stroke: white;
      fill: white;
    }
  }
}
