.close-button-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  @include maxWidth(tablet) {
    top: 0;
    right: 0;
  }
  .close-button {
    padding: 1em var(--lh);
    stroke: var(--color);
    stroke-width: 2;
    svg {
      width: 1em;
    }
  }
}

.fullBleed {
  .close-button-wrapper {
    svg {
      stroke: white !important;
    }
  }
}
