.portable-text {
  @include text-width;
  h4 {
    @include typography-large;
    margin-top: calc(3 * var(--lh-rem-m));
    margin-bottom: var(--lh-rem-m);
  }
  h5 {
    font-style: italic;
    margin-top: calc(2 * var(--lh-rem-m));
    margin-bottom: var(--lh-rem-m);
  }
  h4, h4+.portable-text-image-wrapper {
    & + h5 {
      margin-top: var(--lh-rem-m);
    }
  }
  p, ul {
    &:not(:last-child) {
      margin-bottom: var(--lh);
    }
  }
  a {
    color: var(--color);
    // text-decoration: underline;
    // text-underline-offset: 2px;
    // text-decoration-thickness: 1px;
  }
  ul {
    // list-style: circle;
    // list-style-position: inside;
    margin-left: calc(1.5 * var(--lh));
    li {
      text-indent: calc(-0.5 * var(--lh));
      // padding-left: calc(1 *  var(--lh));
      &::before { 
        display: inline-block;
        content: '•';
        width: calc(0.5 * var(--lh));
        // padding-right: calc(1 *  var(--lh));
        // margin-left: calc(-1 *  var(--lh));
        // margin-right: calc(1 *  var(--lh));
      }
    }
  }
  blockquote {
    @include typography-large;
    margin: calc(3 * var(--lh-rem-m)) 0;
    margin-left: calc(-4 * var(--lh-rem-m));
    margin-right: calc(4 * var(--lh-rem-m));
    @include text-width-writing;
  }
  .portable-text-image-wrapper {
    position: absolute;
    left: var(--lh);
    // height: 0;
    width: 25%;
    .caption {
      .portable-text {
        margin-top: calc(0.25 * var(--lh));
        @include typography-small;
      }
    }
  }
}
