.page {
  .portable-text {
    @include text-width-writing;
  }
}

.page, .exhibition-page {
  .portable-text {
    @include text-width-exhibition;
  }
}

// .writings-page {
//   .portable-text {
//     @include text-width-exhibition;
//   }
// }

.portable-text {
  @include text-width;
  h4 {
    @include typography-large;
    margin-top: calc(3 * var(--lh-rem-m));
    margin-bottom: var(--lh-rem-m);
  }
  h5 {
    font-style: italic;
    margin-top: calc(2 * var(--lh-rem-m));
    margin-bottom: var(--lh-rem-m);
  }
  h4, h4+.portable-text-image-wrapper {
    & + h5 {
      margin-top: var(--lh-rem-m);
    }
  }
  p, ul {
    &:not(:last-child) {
      margin-bottom: var(--lh);
    }
  }
  a {
    color: var(--color);
    // text-decoration: underline;
    // text-underline-offset: 2px;
    // text-decoration-thickness: 1px;
  }
  ul {
    // list-style: circle;
    // list-style-position: inside;
    margin-left: calc(1.5 * var(--lh));
    li {
      text-indent: calc(-0.5 * var(--lh));
      // padding-left: calc(1 *  var(--lh));
      &::before { 
        display: inline-block;
        content: '•';
        width: calc(0.5 * var(--lh));
        // padding-right: calc(1 *  var(--lh));
        // margin-left: calc(-1 *  var(--lh));
        // margin-right: calc(1 *  var(--lh));
      }
    }
  }
  blockquote {
    @include typography-large;
    margin: calc(3 * var(--lh-rem-m)) 0;
    @include text-width-writing;
    @include maxWidth(tablet) {
      max-width: unset;
      margin-left: calc(-1 * var(--lh-rem));
      margin-right: calc(-1 * var(--lh-rem));
    }
    @include minWidth(tablet) {
      margin-left: calc(-4 * var(--lh-rem-m));
      margin-right: calc(4 * var(--lh-rem-m));
    }
  }
  .portable-text-image-wrapper {
    @include maxWidth(tablet) {
      width: 66.666%;
      margin: calc(2 * var(--lh)) 0;
    }
    @include minWidth(tablet) {
      position: absolute;
      left: var(--lh-rem);
      width: 25%;
    }
    .image-wrapper {
      width: 100%;
      height: 0;
      transform: translateZ(0);
      .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .caption {
      .portable-text {
        margin-top: calc(0.5 * var(--lh));
        @include typography-small;
      }
    }
  }
  .portable-text-images-group {
    margin: calc(2 * var(--lh)) 0;
    // transform: translateZ(0);
    @include text-width-writing;
    .images {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: var(--lh-rem);
      @include maxWidth(tablet) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: calc(2 * var(--lh-rem));
      }
      .image-wrapper-wrapper {
        @include maxWidth(tablet) {
          width: 66.666%;
        }
        .image-wrapper {
          width: 100%;
          height: 0;
          transform: translateZ(0);
          .image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .caption-phone {
        @include minWidth(tablet) {
          display: none;
        }
        .portable-text {
          margin-top: calc(0.5 * var(--lh));
          @include typography-small;
        }
      }
    }
    .captions-desktop {
      position: absolute;
      // top: 0;
      left: var(--lh-rem);
      width: calc((100vw - 5 * var(--lh-rem)) / 4);
      @include maxWidth(tablet) {
        display: none;
      }
      .caption-desktop {
        & + .caption-desktop {
          .portable-text {
            margin-top: calc(0.5 * var(--lh));
          }
        }
        .portable-text {
          width: 100%;
          display: inline-block;
          @include typography-small;
        }
      }
    }
  }
}
