.exhibition-page-content {
  &.invisible {
    opacity: 0;
  }
  .item {
    @include minWidth(tablet) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &.active {
        z-index: 6;
        opacity: 1;
      }
      &.fullBleed {
        .image-wrapper {
          .image {
            max-width: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .image-text {
          color: white;
        }
      }
    }
    @include maxWidth(tablet) {
      margin: calc(3 * var(--lh)) 0;
      .image-wrapper {
        margin-bottom: var(--lh);
      }
      &:not(.fullBleed) {
        .image-wrapper {
          padding: 0 calc(2 * var(--lh));
        }
      }
      &.fullBleed {
        .image-wrapper {
          margin-left: calc(-1 * var(--lh-rem));
          margin-right: calc(-1 * var(--lh-rem));
          width: 100vw;
        }
      }
    }
    .image-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .image {
        @include maxWidth(tablet) {
          width: 100%;
          height: auto;
        }
        max-width: calc(100vw - 2 * var(--lh));
        width: calc(100lvh - 4 * var(--lh));
        height: calc(100lvh - 4 * var(--lh));
        object-fit: contain;
      }
    }
    .image-text {
      @include typography-small;
      @include maxWidth(tablet) {
        text-align: center;
      }
      @include minWidth(tablet) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        padding: 1rem var(--lh-rem);
        .caption {
          flex: 1;
        }
      }
    }
    .text-scroll-wrapper {  
      @include minWidth(tablet) {
        width: 100%;
        height: 100%;
        overflow-x: auto;
      }
      .text-wrapper {@include typography-medium;
        @include minWidth(tablet) {
          display: flex;
          flex-direction: column;
          height: 100%;
          .text {
            margin: auto;
            padding: var(--lh);
            .portable-text {
              @include typography-medium;
            }
          }   
        }
      }
    }
  }
}