.additional-information-wrapper {
  z-index: 99;
  opacity: 0;
  @include maxWidth(tablet) {
    position: relative;
    opacity: 1;
  }
  &.visible {
    opacity: 1;
  }
  .additional-information-button,
  .additional-information {
    @include maxWidth(tablet) {
      width: 100vw;
      margin: 0 calc(-1 * var(--lh-rem));
      margin-bottom: calc(-1.25rem);
    }
    &.banner {
      @include maxWidth(tablet) {
        padding: 1.25rem calc(1 * var(--lh-rem));
      }
      padding: 1rem calc(1 * var(--lh-rem));
    }
  }
  .additional-information {
    width: 100vw;
    position: absolute;
    bottom: 0;
  }
  .additional-information-button {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    &.banner {
      border-top: none;
    }
  }
}