.exhibition-page-arrows {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 7;
  cursor: none;
  @include maxWidth(tablet) {
    display: none;
  }
  .left, .right {
    .long-arrow-right {
      height: var(--lh);
    }
  }
}

.fullBleed {
  .exhibition-page-arrows, .arrows {
    svg {
      stroke: white;
    }
  }
}

.arrowButton {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;
  // opacity: 0;
  transition: opacity 0.125s ease-in-out;
  display: flex;
  align-items: center;
  @include maxWidth(tablet) {
    display: none;
  }
  &.fullBleed {
    svg {
      stroke: white;
    }
  }
  // .svg {
  //   width: calc(2 * var(--fm));
  // }
}