.exhibition-page-title-card-wrapper {
  @include minWidth(tablet) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    &.active {
      z-index: 6;
      opacity: 1;
    }
  }

  .exhibition-page-title-card {
    width: 100%;
    @include minWidth(laptop) {
      width: calc(100% - 4 * var(--lh));
    }
    @include minWidth(desktop) {
      width: 66.666%;
    }
    .logo-location-wrapper {
      margin-bottom: calc(2 * var(--lh));
      @include minWidth(tablet) {
        display: flex;
      }
      .logo-wrapper-wrapper {
        flex: 1;
      }
      .location {
        @include uppercase;
      }
    }
    .title-date-wrapper {
      text-align: right;
      margin-bottom: calc(2 * var(--lh));
      .title {
        font-style: italic;
      }
    }
    .names-wrapper {
      .with {
        @include uppercase;
      }
      .names {
        &.two-to-ten {
          @include minWidth(tablet) {
            .name {
              &:nth-child(10n + 1) {
                margin-left: calc(1 * var(--lh));
              }
              &:nth-child(10n + 2) {
                margin-left: calc(2 * var(--lh));
              }
              &:nth-child(10n + 3) {
                margin-left: calc(3 * var(--lh));
              }
              &:nth-child(10n + 4) {
                margin-left: calc(4 * var(--lh));
              }
              &:nth-child(10n + 5) {
                margin-left: calc(5 * var(--lh));
              }
              &:nth-child(10n + 6) {
                margin-left: calc(6 * var(--lh));
              }
              &:nth-child(10n + 7) {
                margin-left: calc(7 * var(--lh));
              }
              &:nth-child(10n + 8) {
                margin-left: calc(8 * var(--lh));
              }
              &:nth-child(10n + 9) {
                margin-left: calc(9 * var(--lh));
              }
              &:nth-child(10n + 10) {
                margin-left: calc(10 * var(--lh));
              }
            }
          }
        }
        &.eleven-to-twenty {
          columns: 2;
        }
        &.twenty-one-plus {
          columns: 3;
          @include maxWidth(tablet) {
            columns: 2;
          }
        }
      }
    }
    .invisible {
      opacity: 0;
    }
  }
}
