.exhibition-page-arrows {
  @include maxWidth(tablet) {
    display: none;
  }
  .left, .right {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 7;
    opacity: 0;
    display: flex;
    align-items: center;
    padding: var(--lh);
    &.show {
      cursor: pointer;
      @media (hover: hover) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .left {
    left: 0;
    justify-content: flex-start;
  }
  .right {
    right: 0;
    justify-content: flex-end;
  }
}

.fullBleed {
  .exhibition-page-arrows {
    svg {
      stroke: white;
    }
  }
}
