.filters {
  @include maxWidth(tablet) {
    @include typography-medium;
    margin-bottom: calc(2 * var(--lh));
  }
  @include minWidth(tablet) {
    position: absolute;
    @include typography-small;
  }
  .filter {
    & + .filter {
      @include maxWidth(tablet) {
        margin-top: calc(0.25 * var(--lh));
      }
    }
    &.active {
      button {
        opacity: 1;
      }
    }
    button {
      opacity: 0.333;
      @media (hover: hover) {
        &:hover {
          opacity: 1 !important;
        }
      }
    }
  }
}

.episodes-page, .scenes-page {
  margin-left: var(--lh-rem);
}