.filters {
  position: absolute;
  @include typography-small;
  .filter {
    &.active {
      button {
        opacity: 1;
      }
    }
    button {
      opacity: 0.333;
      @media (hover: hover) {
        &:hover {
          opacity: 1 !important;
        }
      }
    }
  }
}

.episodes-page, .scenes-page {
  margin-left: var(--lh-rem);
}