.index-writing {
  display: block;
  width: calc(66.666vw - var(--lh-rem));
  margin: calc(3 * var(--lh)) 0;
  margin-left: auto;
  @include maxWidth(tablet) {
    width: 100%;
    margin: calc(2 * var(--lh)) 0;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:nth-child(4n + 2) {
    .index-writing-inner {
      @include minWidth(tablet) {
        margin-left: calc(-6 * var(--lh));
        margin-right: calc(6 * var(--lh));
      }
      @include minWidth(laptop) {
        margin-left: calc(-8 * var(--lh));
        margin-right: calc(8 * var(--lh));
      }
    }
  }
  &:nth-child(4n + 3) {
    .index-writing-inner {
      @include minWidth(tablet) {
        margin-left: auto;
      }
    }
  }
  &:nth-child(4n + 4) {
    .index-writing-inner {
      @include minWidth(tablet) {
        margin-left: calc(-3 * var(--lh));
        margin-right: calc(3 * var(--lh));
      }
      @include minWidth(laptop) {
        margin-left: calc(-4 * var(--lh));
        margin-right: calc(4 * var(--lh));
      }
    }
  }
  .index-writing-inner {
    @include text-width;
    .title, .continue-reading {
      @include typography-small;
    }
    .title {
      @include maxWidth(tablet) {
        margin-bottom: calc(0.25 * var(--lh));
      }
    }
    .continue-reading {
      line-height: var(--lh-rem);
    }
    .excerpt {
      margin-bottom: 0;
    }
    .long-arrow-svg {
      margin-right: calc(0.5 * var(--lh));
    }
  }
}

.home-page {
  .index-writing {
    margin-right: auto;
    padding: 0 var(--lh);
    .index-writing-inner {
      margin: auto;
    }
    @include maxWidth(tablet) {
      width: 100%;
      margin: calc(2 * var(--lh)) 0;
      padding: 0 var(--lh);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}