.logo-wrapper {
  flex: 1;
  .logo-link {
    display: block;
    width: fit-content;
    &:hover {
      opacity: 1;
    }
  }
  .logo {
    display: none;
  }
  .logo-lottie {
    width: fit-content;
    height: calc(1.25 * 1em);
    width: 13.366383em;
    transform: translateY(0.14em);
    // margin-right: auto;
    svg {
      font-size: 0.94em;
      height: 1em !important;
      // width: fit-content !important;
      width: 13.366383em !important;
      fill: #1C7464;
      // margin-right: auto;
    }
  }
  .location {
    @include uppercase;
  }
}