.long-arrow-svg {
  width: 3.75em;
  transform: translateY(0.125em);
  stroke: var(--color, black);
  @media (hover: hover) {
    &:hover {
      opacity: 0.333;
    }
  }
  &.long-arrow-svg-left {
    transform: rotate(180deg) translateY(-0.125em);
    margin-right: 0;
    // margin-left: calc(0.5 * var(--lh));
  }
}
