html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden;   */
}

p:not(:last-child) {
  margin-bottom: var(--lh);
}

ol,
ul {
  margin-left: var(--lh);
}

ol {
  list-style-type: disc;
}
